<html>
  <head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet">
        <link href="css/normalize.css" rel="stylesheet">
    <title>Register form</title>
  </head>
  <body>
    <header>
        <div class="main-header-top-bar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            <div class="topnav">
                <input type="text" placeholder="Buscar productos, marcas">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
        <h2 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
                
            <ul class="right-navbar">
                <li><a href="http://localhost:3000/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="http://localhost:3000/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <a href="#"><div class="burger-menu"><i class="fa-solid fa-bars"></i></div></a>
        
        </div>
        <br>
    </header>
    <div class="register-form">
    <form method="POST" action="test.php">
        <input class="text" type="text" name="nombre-y-apellido" id="name" required minlength="3" placeholder="Nombre y apellido">
        <br>
        <br>
        <input class="text" type="text" name="usuario" id="user" required minlength="3" placeholder="Nombre de usuario">
        <br>
        <br>
        <legend>Fecha de nacimiento</legend>
        <br>
        <input class="text" type="date" name="birth" id="nacimiento" required placeholder="Fecha de nacimiento:">
        <br>
        <br>
        <input class="text" type="text" name="domicilio" id="domicilio" required minlength="6" placeholder="Domicilio">
        <br>
        <br>
        <div class="checkbox">
            <legend>Perfil del usuario</legend>
            <label>
                <input  type="checkbox" name="perfil" value="Comprador" checked> Comprar
            </label>
            <label>
                <input  type="checkbox" name="perfil" value="Vendedor"> Vender
            </label>
        </div>
        <br>
        <br>
        <fieldset class="checkbox">
            <legend>Intereses</legend>
            <div>
              <input type="checkbox" id="electro" name="interest" value="electro"/>
              <label for="electrp">Electro</label>
            </div>
            <div>
              <input type="checkbox" id="moda" name="interest" value="moda" />
              <label for="moda">Moda</label>
            </div>
            <div>
              <input  type="checkbox" id="hogar" name="interest" value="hogar" />
              <label for="hogar">Hogar</label>
            </div>
            <div>
              <input  type="checkbox" id="jugueteria" name="interest" value="jugueteria" />
              <label for="jugueteria">Jugueteria</label>
            </div>
            <div>
              <input  type="checkbox" id="vida-sana" name="interest" value="vida-sana" />
              <label for="vida-sana">Vida sana</label>
            </div>
          </fieldset>
        <br>
        <br>
        <legend>Foto de usuario:</legend>
        <br>
        <input class="text" type="file" name="foto-de-usuario" id="foto" accept="image/png, image/jpeg">
        <br>
        <br>
        <input class="text" type="password" name="pass" id="pass" required minlength="6" placeholder="contraseña">
        <br>
        <br>
        <a href="http://localhost:3000/">  
            <input class="button" type="submit"/>  
        </a>
        <br>
        <br>
        <input class="button" type="reset">
    </form>
    </div>
    <footer>
        <section>
            <div><i class="fa-solid fa-credit-card"></i></div>
            <strong>Pagá con tarjeta o en efectivo</strong></li>   
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
        </section>
            <br>
        <section>
            <div><i class="fa-solid fa-gift"></i></div>
            <strong>Envío gratis desde $2.500</strong>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
        </section>
            <br>
        <section>
            <div><i class="fa-solid fa-user-shield"></i></div>
            <strong>Seguridad de principio a fin</strong>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
        </section>
        <section>
            <br>
            <div style="font-size: 10px;">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
        </section>
        <br>
    </footer>
  </body>
</html>